<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
        <form action="/animals" method="POST">
          <fieldset>
              <legend>Enter a New Animal!</legend>
            <label>
              NAME:<input
                type="text"
                name="species"
                placeholder="enter animal's name"
              />
            </label>
            <label>
                Extinct? <input type="checkbox" name="extinct" />
              </label>
            <label>
              LOCATION:<input
                type="text"
                name="location"
                placeholder="enter animal's habitat"
              />
            </label>
            <label>
                Life Expectancy:<input
                  type="text"
                  name="lifeExpectancy"
                  placeholder="enter animal's life expectancy (in years)"
                />
              </label>
          </fieldset>
          <input type="submit" value="Add Animal" />
        </form>
      </div>
    </main>
  </body>
</html>
